<h3>Create Employee</h3>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="submitted" style="width: 400px;">
            <form [formGroup]="employeesaveform" #saveemployee (ngSubmit)="saveEmployee(saveEmployee)">
                <div class="form-group">
                    <label for="name">Employee First Name</label>
                    <input type="text" class="form-control" formControlName="employee_first_name" data-toggle="tooltip"
                        data-placement="right" title="Enter Employee First Name">
                    <div class="alert alert-danger" *ngIf="(EmployeeFirstName.touched) && (EmployeeFirstName.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="EmployeeFirstName.errors.required">Employee First Name is Required</span>
                        <span *ngIf="EmployeeFirstName.errors.minlength">
                            Minimum length is 2 characters
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Employee Last Name</label>
                    <input type="text" class="form-control" formControlName="employee_last_name" data-toggle="tooltip"
                        data-placement="right" title="Enter Employee Last Name">
                    <div class="alert alert-danger" *ngIf="(EmployeeLastName.touched) && (EmployeeLastName.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="EmployeeLastName.errors.required">Employee Last Name is Required</span>
                        <span *ngIf="EmployeeLastName.errors.minlength">
                            Minimum length is 2 characters
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Employee Email</label>
                    <input type="text" class="form-control" formControlName="employee_email" data-toggle="tooltip"
                        data-placement="right" title="Enter Employee Email">
                    <div class="alert alert-danger" *ngIf="(EmployeeEmail.touched) && (EmployeeEmail.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="EmployeeEmail.errors.required">Employee Email is Required</span>
                        <span *ngIf="EmployeeEmail.errors.email">
                            Invalid Email Format
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <label for="name">Employee Salary</label>
                    <input type="text" class="form-control" formControlName="Employee_salary">
                    <div class="alert alert-danger" *ngIf="(EmployeeSalary.touched) && (EmployeeSalary.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="EmployeeSalary.errors.pattern">
                            it must be a number
                        </span>
                        <span *ngIf="EmployeeSalary.errors.min">
                            Minimum salary is 0
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Employee Phone</label>
                    <input type="text" class="form-control" formControlName="Employee_phone">
                    <div class="alert alert-danger" *ngIf="(EmployeePhone.touched) && (EmployeePhone.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="EmployeePhone.errors.pattern">
                            Invalid phone number (it must contain only digits and dashs )
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Employee Hire Date</label>
                    <input type="text" class="form-control" formControlName="Employee_hire_date">
                </div>

                <div class="form-group">
                    <label for="name">Manager Id</label>
                    <input type="text" class="form-control" formControlName="manager_id">
                    <div class="alert alert-danger" *ngIf="(ManagerId.touched) && (ManagerId.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="ManagerId.errors.min">
                           it must be greater than 0
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Department Id</label>
                    <input type="text" class="form-control" formControlName="department_id">
                    <div class="alert alert-danger" *ngIf="(DepartmentId.touched) && (DepartmentId.invalid)"
                        style="margin-top: 5px;">
                        <span *ngIf="DepartmentId.errors.min">
                           it must be greater than 0
                        </span>
                    </div>
                </div>
                


                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="!submitted">
            <h4>Employee Added SuccessFully!</h4>
            <button (click)="addEmployeeForm()" class='btn btn-primary'>Add More Employee</button>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>